@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_thin-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_light-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_light_it-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_light_it-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_regular-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_regular_it-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_regular_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_semi_bold-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_semi_bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_semi_bold_it-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_semi_bold_it-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_bold-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_bold_it-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_bold_it-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lota Grotesque';
  src: asset-url('los_andes_-_lota_grotesque_alt_2_black-webfont.woff2') format('woff2'),
       asset-url('los_andes_-_lota_grotesque_alt_2_black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
